@import "tailwindcss";
@theme {
  --breakpoint-xxs: 22rem;
}

/* Commun */
.slide-forward-enter-active,
.slide-forward-leave-active,
.slide-back-enter-active,
.slide-back-leave-active {
  transition: 
    transform 0.38s cubic-bezier(0.4, 0.01, 0.165, 0.99), 
    opacity 0.33s cubic-bezier(0.4, 0.01, 0.165, 0.99);
  will-change: transform, opacity;
  position: absolute;
  inset: 0;
  background: white;
  pointer-events: none;
}

.slide-forward-enter-active,
.slide-forward-leave-active {
  z-index: 1;
}
.slide-back-enter-active {
  z-index: 0;
}
.slide-back-leave-active {
  z-index: 1;
}

.slide-forward-enter-from {
  transform: translateY(100%);
  box-shadow: 0 -8px 24px rgba(0, 0, 0, 0.08);
}
.slide-forward-enter-to {
  transform: translateY(0%);
  box-shadow: none;
}
.slide-forward-leave-from {
  transform: translateY(0%);
  opacity: 1;
}
.slide-forward-leave-to {
  transform: translateY(100%);
  opacity: 0.85;
}

.slide-back-enter-from {
  transform: translateY(-10%);
  opacity: 0.85;
}
.slide-back-enter-to {
  transform: translateY(0%);
  opacity: 1;
}
.slide-back-leave-from {
  transform: translateY(0%);
}
.slide-back-leave-to {
  transform: translateY(0%);
  opacity: 0.85;
}


